path {
  stroke: #FFFFFF;
  stroke-width: 2;
  fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

circle {
  fill: none;
  stroke: #FFF;
  stroke-width: 1.7px;
}

.rule line {
  stroke: #eee;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
