table {
  width: 100%;
  color: #FFFFFF;
  padding: 25px;
}

tr {
  padding: 5px;
}

.table-heading {
  text-transform: uppercase;
}

.message-type-icon {
  padding: 15px;
  font-size: 16px !important;
}

.table-row-status-icon {
  font-size: 14px !important;
}
