.dashboard {
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}

.table-row {
  margin-top: 20px;
}

.dashboard-container-1 {
  padding-top: 35px;
  padding-left: 21%;
  padding-right: 25%;
  height: 100%;
}

.dashboard-container-2 {
  padding-left: 24%;
  padding-right: 25%;
}

.dashboard-manufacturer-logo-container {
  margin: 0 auto;
  height: 142px;
}

.chart-container {
  height: 150px;
}
