.secondary-toolbar {
  width: 100%;
  text-align: center;
  height: 100px;
  padding-top: 10px;
}

.secondary-toolbar-link-container {
  display: inline;
  float: left;
}

.secondary-toolbar-logo {
  width: 45px;
}

.secondary-toolbar-link {
  margin: 0 auto;
  height: 20px;
  font-size: 15px;
}

.secondary-toolbar-icon {
  font-size: 52px !important;
}
