.sidenav-container {
  padding: 0px;
}

.sidenav {
  height: 500px;
  z-index: 1;
}

.sidenav-link-container {
  height: 50px;
  padding-top: 14px;
  text-align: center;
  cursor: pointer;
  border-top: 1px solid white;
  border-bottom: 3px solid #2baaa5;
}

.sidenav-link {
  margin: 0 auto;
  font-size: 15px;
}
