/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

#root,
.main-container {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

a {
  color: #ffcdd2;
  text-decoration: none;
}

a:hover {
  color: #ffcdd2 !important;
  text-decoration: none;
}

.icon {
  padding-top: 10px;
  color: #FFFFFF;
  font-size: 30px;
}

html,
body,
.App {
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

table {
  width: 100%;
}

td, th {
  padding: 15px;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
}

.main-container {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

.card {
  border-radius: 5px;
  margin-bottom: 30px;
  /*box-shadow: 0px 2px 0px #000;*/
}

.card-subheader td {
  line-height: 57px;
}

.card-subheader td:first-child {
  padding-left: 15px;
}

.card-main {
  padding-left: 15px;
  padding-right: 15px;
}

.card-toolbar {
  padding: 20px;
  border-radius: 5px;
  text-transform: uppercase;
  border-radius: 5px;
  /*border-top-left-radius: 4px;*/
  /*border-top-right-radius: 4px;*/
}

.card-bottom-toolbar {
  padding: 12px 15px;
  margin: 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  /*box-shadow: 0px 2px 0px #000;*/
}

.side-draw-right-icon {
  position: fixed;
  top: 40%;
  right: 10px;
}

.side-draw-right-icon i {
  font-size: 36px;
}

.more-icon {
  padding-top: 6px;
}
